/* table */
table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  text-align: left;
  background-color: #004e89;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* body */
body {
  background-color: #f7e7e7;
}

/* header */
header {
  background-color: #004e89;
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

/* links */
a {
  color: #004e89;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
