/* Style pour la table de score */
table {
  border-collapse: collapse;
  width: 100%;
  margin: 0px;
  padding: 1px;
}

/* Style pour les cellules de la table */
td,
th {
  border: none;
  background-color: white;
  padding: 0.5em;
  margin: 500px;
}

/* Style pour les en-têtes de colonne */
th {
  text-align: left;
  background-color: #004e89;
  color: white;
}

/* Style pour les lignes paires de la table */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Centrer le contenu de la page */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
  font-family: sans-serif;
}

/* Style pour l'en-tête */
header {
  color: white;
  padding: 20px;
  text-align: center;
}

/* Style pour le titre */
h1 {
  color: white;
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* Style pour les noms des équipes et les scores */
h2 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

/* Style pour les sous-titres */
h3 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

/* Style pour les titres de niveau 6 */
h6 {
  color: black;
  background-color: white;
  font-size: 1.5rem;
  margin-bottom: auto;
}

/* Style pour les liens */
a {
  color: blue;
  background-color: white;
  text-decoration: none;
}

/* Style pour les liens survolés */
a:hover {
  text-decoration: underline;
}

/* Style pour les informations du match */
p {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

/* Style pour le formulaire */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

/* Style pour les libellés des champs d'entrée */
label[for='id_username'] {
  color: white;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

/* Style pour les champs d'entrée d'identifiant */
input#id_username {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Style pour les libellés des champs de mot de passe */
label[for='id_password'] {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

/* Style pour les champs d'entrée de mot de passe */
input#id_password {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input[type="submit"] {
  padding: 10px 20px;
  margin: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}
form#CommentaireForm textarea {
  margin-top: 25px;
  width: 2500px;
  display: inline-block;
  resize: vertical;
  vertical-align: middle;
  height: 50px;
  max-width: 100%;
}

#CommentaireForm {
  max-width: 500px;
  /* définit une largeur maximale pour le formulaire */
  margin: 0 auto;
  /* centre le formulaire horizontalement dans son parent */
  display: flex;
  /* utilise un layout flexbox */
  flex-direction: column;
  /* place les champs du formulaire en colonne */
}

#CommentaireForm button {
  margin-top: 10px;
  /* ajoute une marge en haut du bouton */
  padding: 8px;
  align-self: auto;
}

form textarea {
  font-size: 14px;
  height: 50px;
  max-height: 100px;
  resize: vertical;
}

.small-form {
  height: 25px;
  width: 500px;
  display: inline-block;
  max-width: 20%;
  padding: 0px;
}

.small-form textarea {
  height: 50px;
  width: 500px;
  max-width: 500px;
  display: inline-block;
  text-align: left;
  vertical-align: baseline;
  padding: 0px;
}

.small-form button {
  vertical-align: bottom;
  margin-top: 5px;
}


.commentaire-row {
  border-bottom: 0 solid #ccc;
  padding: 0;
}

.editable-row {
  margin-bottom: 0px;
}

.editable-row p {
  margin-bottom: 0;
}

.editable-row form {
  margin-top: 0px;
}



:root{
  --hauteur-menu: 100px;
}
* {
  margin: 0px;
  padding: 0px;
  font-family: Montserrat, sans-serif;
}
nav {
  width: 100%;
  padding: 6Opx;
  font-size: 18px;
  position: sticky;
  top: 0;
}

nav > ul {
  display: flex;
  text-align: center;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
  height: var(--hauteur-menu);
}
 
nav ul {
  list-style-type: none;
}

nav > ul > li {
  background-color: white;
  position: relative;
  height: 100%;
  flex: 1;
  border:1px solid #ccc;
  margin-top: 5px;
}
nav > ul > li > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

nav > ul > li:not(:last-child) {
  margin-bottom: 10px;
}

nav > ul > li:not(:first-child) {
  margin-bottom: 10px;
}

nav > ul > li.active {
  background-color: #2169EC;
  color: white;
}

nav > ul > li.active:hover {
  background-color: #3b7ff2;
}


li a {
  text-decoration: none;
  color: black;
  
}

.menu-deroulant > a:after{
  content: '❯';
  border-radius: 200px;
  font-size: 15px;
  margin-left: 7px;
  display: inline-block;
}
.sous-menu {
  margin-top: var(--hauteur-menu);
  width: 100%;
  text-align: left;
  background-color: white;
  border-radius: 50px;
  overflow: hidden;
  max-height: 0;
  overflow-y: auto; /* Ajout de la propriété overflow-y */
}

.sous-menu > li > a {
  height: 50px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  width: 100%;
  align-items: left;
  display: flex;
}

/* .sous-sous-menu {
  margin-top: var(--hauteur-menu);
  width: 100%;
  text-align: left;
  background-color: white;
  border-radius: 50px;
  overflow: hidden;
  max-height: 0;
  overflow-y: auto; /* Ajout de la propriété overflow-y */
/* } */

/* .sous-sous-menu > li > a {
  height: 50px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  width: 100%;
  align-items: left;
  display: flex;
} */

nav > ul > li:hover > a{
  color: #2169EC;
}

.sous-menu > li:hover {
  background-color: #eee;
}

.sous-menu > li:hover > a {
  color: black;
}

/* .sous-sous-menu > li:hover {
  background-color: #eee;
}

.sous-sous-menu > li:hover > a {
  color: black;
} */

.login {
  margin-left: auto;
  background-color: #2169EC;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  position: fixed;
  top: 20px;
  right: 20px;
}

.login a {
  padding: 10px 20px;
  background-color: #2169EC;
  color: white;
  border-radius: 20px;
  text-decoration: none;
}

@keyframes rotationFleche {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(90deg);
  }
}

.menu-deroulant:hover > a:after{
  animation: rotationFleche 0.2s linear forwards;
}

@keyframes apparitionSousMenu {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
    border-top: 3px solid #2169EC;
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid #2169EC;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
}

.menu-deroulant:hover > .sous-menu {
  animation: apparitionSousMenu 1s forwards;
}


/* @keyframes apparitionSousSousMenu {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
    border-top: 3px solid #2169EC;
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid #2169EC;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
}

.menu-deroulant:hover > .sous-sous-menu {
  animation: apparitionSousMenu 1s forwards;
} */