{% extends "base.html" %}

<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <title>Détail poule</title>
    
</head>

<body>
{% block content %}
  <h1>{{ poule.tournoi.nom }}</h1>
  <h2>Poule {{ poule.numero_poule }}</h2>

  <h3>Classement</h3>
  <table>
    <thead>
      <tr>
        <th>Equipe</th>
        <th>Points</th>
        <th>Buts marqués</th>
        <th>Buts encaissés</th>
      </tr>
    </thead>
    <tbody>

      {% for team in poule.get_standings %}
        <tr>
          <td>{{ team.team.nom_equipe }}</td>
          <td>{{ team.points }}</td>
          <td>{{ team.goals_for }}</td>
          <td>{{ team.goals_against }}</td>
        </tr>
      {% endfor %}
      
    </tbody>
  </table>

  <h3>Matchs</h3>
    <table>
    <thead>
        <tr>
        <th>Equipe 1</th>
        <th>Score</th>
        <th>Equipe 2</th>
        <th>Lieu</th>
        <th>Date et heure</th>
        </tr>
    </thead>
    <tbody>
        {% for match in poule.get_matches %}
        <tr>
            <td><a href="{% url 'match' match_id=match.id %}">{{ match.equipe1.nom_equipe }}</td></a>
            <td><a href="{% url 'match' match_id=match.id %}">{{ match.score_equipe1 }} - {{ match.score_equipe2 }}</td></a>
            <td><a href="{% url 'match' match_id=match.id %}">{{ match.equipe2.nom_equipe }}</td></a>
            <td><a href="{% url 'match' match_id=match.id %}">{{ match.lieu }}</td></a>
            <td><a href="{% url 'match' match_id=match.id %}">{{ match.date_heure }}</td></a>
        </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}
</body>
