{% extends "base.html" %}
  {% block content %}

  <!-- Afficher les matches  -->
  <h1>{{ match.numero_poule.tournoi.nom_tournoi }}</h1>
  <h2>Match de poule {{ match.numero_poule.numero_poule }}</h2>
  <table>
    <thead>
      <tr>
        <th>Equipe 1</th>
        <th>Score</th>
        <th>Equipe 2</th>
        <th>Lieu</th>
        <th>Date et heure</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ match.equipe1.nom_equipe }}</td>
        <td>{{ match.score_equipe1 }} - {{ match.score_equipe2 }}</td>
        <td>{{ match.equipe2.nom_equipe }}</td>
        <td>{{ match.lieu }}</td>
        <td>{{ match.date_heure }}</td>
      </tr>
    </tbody>
  </table>

  <form id="CommentaireForm" method="POST" action="{% url 'commenter' match_id=match.id %}">    {% csrf_token %}
    <input type="hidden" name="match_id" value="{{ form.initial.match_id }}">
    <textarea name="contenu" placeholder="Saisissez votre commentaire"></textarea>
    <button type="submit">Commenter</button>
</form>


  <table>
    <thead>
      <tr>
        <th>Auteur</th>
        <th>Date</th>
        <th>Contenu</th>
      </tr>
    </thead>
    <tbody>
      {% for commentaire in match.commentaire.all %}
      <tr>
        <td>{{ commentaire.auteur.username }}</td>
        <td>{{ commentaire.date_heure }}</td>
        <td>{{ commentaire.contenu }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="3">Pas de commentaires pour ce match.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
 <!-- Afficher commentaires
<div id="comment-list">
  {% if commentaires %}
  <p>Valid</p>
    {% for commentaire in commentaires %}
      <div class="comment">
        <p class="author">{{ commentaire.auteur.username }}</p>
        <p class="date">{{ commentaire.date_heure }}</p>
        <p class="content">{{ commentaire.contenu }}</p>
      </div>
    {% endfor %}
  {% else %}
    <p>Aucun commentaire pour le moment.</p>
  {% endif %}
</div> -->


  <!-- <script>
    // Obtenir le formulaire et le bouton "Soumettre"
  var commentForm = document.getElementById('CommentaireForm');
  var submitButton = commentForm.querySelector('[type="submit"]');
  
  // Ajouter un gestionnaire d'événements sur le bouton "Soumettre"
  submitButton.addEventListener('click', function(e) {
    e.preventDefault();
    e.stopPropagation();
    // Obtenir les données du formulaire
    var formData = new FormData(commentForm);
    
    // Envoyer une requête AJAX pour ajouter le commentaire
    fetch(commentForm.action, {
      method: 'POST',
      body: formData
    })
    .then(function(response) {
      return response.json();
    })
    .then(function(data) {
      // Actualiser la section de commentaires avec le nouveau commentaire
      var commentSection = document.getElementById('comment-list');
      commentSection.innerHTML += data.html;
      
      // Effacer le contenu du formulaire
      commentForm.reset();
    });
  });
  </script> -->
  {% endblock %}

</body>