{% extends "base.html" %}
<!DOCTYPE html>
<html lang="fr">

<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

  <meta charset="UTF-8">
  <title>Match de foot</title>

</head>

<body>
  {% block content %}
  <h1>{{ match.numero_poule.tournoi.nom_tournoi }}</h1>
  <h2>Match de poule {{ match.numero_poule.numero_poule }}</h2>
  <table>
    <thead>
      <tr>
        <th>Equipe 1</th>
        <th>Score</th>
        <th>Equipe 2</th>
        <th>Lieu</th>
        <th>Date et heure</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ match.equipe1.nom_equipe }}</td>
        <td>{{ match.score_equipe1 }} - {{ match.score_equipe2 }}</td>
        <td>{{ match.equipe2.nom_equipe }}</td>
        <td>{{ match.lieu }}</td>
        <td>{{ match.date_heure }}</td>
      </tr>
    </tbody>
  </table>
  
  <form id="comment-form" method="POST">
    {% csrf_token %}
    <input type="hidden" name="match_id" value="{{ match.id }}">
    <textarea name="contenu" placeholder="Saisissez votre commentaire"></textarea>
    <button type="submit">Commenter</button>
  </form>


  <script>
    // Fonction pour envoyer le formulaire via Ajax
    function postComment() {
      var formData = new FormData($('#comment-form')[0]);
      $.ajax({
        type: 'POST',
        url: '{% url "commenter" match_id=match.id %}',
        data: formData,
        processData: false,
        contentType: false,
        success: function(data) {
          // Si l'envoi réussit, afficher le commentaire immédiatement
          $('#comment-list').prepend(data);
          $('#comment-form')[0].reset();
        },
        error: function(xhr, textStatus, error) {
          console.log(xhr.responseText);
        }
      });
    }
  
    // Gérer l'envoi du formulaire lors de la soumission
    $('#comment-form').submit(function(event) {
      event.preventDefault();
      postComment();
    });
  </script>
  
  
  
{% endblock %}
      </body>