{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    
    <meta charset="UTF-8">
    <title>Tournois de foot</title>
    
</head>
<body>
    
    {% block content %}
        <h1>Liste des tournois</h1>
        <table>
            <thead>
                <tr>
                    <th>Nom du tournoi</th>
                    <th>Lieu</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for tournoi in tournois %}
                     <tr>
                        <td><a href="{% url 'tournoi' tournoi.id %}">{{ tournoi.nom_tournoi }}</a></td>
                        <td>{{ tournoi.lieu }}</td>
                        <td>{{ tournoi.dates }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}
</body>
</html>




