{% extends 'base.html' %}

<body>
    {% block content %}
    <h1>Liste des tournois</h1> <!--Titre de la page-->
    <table> <!--Tableau qui affiche les informations des différents tournois-->
        <thead> <!--Entête du tableau-->
            <tr> <!--Ligne d'entête-->
                <th>Nom du tournoi</th> <!--Colonne pour le nom du tournoi-->
                <th>Lieu</th> <!--Colonne pour le lieu du tournoi-->
                <th>Date</th> <!--Colonne pour la date du tournoi-->
            </tr>
        </thead>
        <tbody> <!--Corps du tableau-->
            {% for tournoi in tournois %} <!--Boucle pour itérer sur tous les tournois-->
            <tr> <!--Ligne pour chaque tournoi-->
                <td><a href="{% url 'tournoi' tournoi.id %}">{{ tournoi.nom_tournoi }}</a></td>
                <!--Colonne pour le nom du tournoi, qui est un lien vers la page du tournoi-->
                <td>{{ tournoi.lieu }}</td> <!--Colonne pour le lieu du tournoi-->
                <td>{{ tournoi.dates }}</td> <!--Colonne pour la date du tournoi-->
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}
</body>

</html>