{% load static %}

{# Load the tag library #}
{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Tournament{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    {# Load Bootstrap CSS #}
    {% bootstrap_css %}
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'tournois' %}">Tournois</a></li>

                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Déconnexion</a>
                {% else %}
                <a href="{% url 'login' %}">Connexion</a>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="row pb-3">
            <header>
                Tournois de foot<br>
                <a href="{% url 'tournois' %}">
                    <img src="{% static 'images/football.jpg' %}" width=250px alt="logo" />
                </a>
            </header>
        </div>

        <style>
            body {
                background-image: url("{% static 'images/champions league.jpg' %}");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }
        </style>

        {% block content %}{% endblock %}

        <div class="row pt-5">
            <footer>
                <em>&copy; ISAE-SUPAERO</em>
            </footer>
        </div>
    </div>

</body>

</html>