{% load static %}

{# Load the tag library #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Tournament{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    
</head>

<body>
    <div class="container">
        <div class="row pb-3">
            <header>
                Tournois de foot<br>
                <a href="{% url 'tournois' %}">
                <img src="{% static 'images/football.jpg' %}" width=250px alt="logo"/>
                </a>
            </header>
        </div>

        <style>
            body {
                background-image: url("{% static 'images/champions league.jpg' %}");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }
        </style>

        {% block content %}{% endblock %}

        <div class="row pt-5">
            <footer>
                <em>&copy; ISAE-SUPAERO</em>
            </footer>
        </div>
    </div>
    
</body>
</html>