<!-- Chargement des fichiers statiques -->
{% load static %}
{# Load the tag library #}
{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Tournament{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {# Load Bootstrap CSS #}
    {% bootstrap_css %}

    <!-- Script pour une future amélioration de menu (menu déroulant) -->
    <!-- <script>
  var dropdown = document.querySelector('#tournois-dropdown');
  dropdown.style.display = 'none';

  document.querySelector('#tournois a').addEventListener('click', function(e) {
    e.preventDefault();
    if (dropdown.style.display === 'none') {
      dropdown.style.display = 'block';
    } else {
      dropdown.style.display = 'none';
    }
  });
</script> -->

</head>

<body>
    <header>
        <!-- Pour afficher le futur fil d'Ariane
        <nav>
            <ul>
              {% for breadcrumb in breadcrumb_list %}
                {% if forloop.last %}
                  <li class="active">{{ breadcrumb.name }}</li>
                {% else %}
                  <li><a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </nav> -->

          <nav>
            <ul>
              <li class="menu-deroulant">
                <a href="{% url 'tournois' %}">Tournois</a>
                <ul class="sous-menu">
                  <li><a href="{% url 'tournoi' tournoi_id=1 %}">UFC</a></li>

                  <!-- <ul class="sous-sous-menu">
                    <li><a href="{% url 'detail_poule' poule_id=1 %}"> Poule 1</a> </li>
                    <li><a href="{% url 'detail_poule' poule_id=2 %}"> Poule 2</a> </li>

                  </ul> -->
                  <li><a href="{% url 'tournoi' tournoi_id=2 %}">Champ League</a></li>
                  <!-- <ul class="sous-sous-menu">
                    <li><a href="{% url 'detail_poule' poule_id=3 %}"> Poule 1</a> </li>
                    <li><a href="{% url 'detail_poule' poule_id=4 %}"> Poule 2</a> </li> -->

                  <li><a href="{% url 'tournoi' tournoi_id=3 %}">CdF</a></li>
                  <!-- <ul class="sous-sous-menu">
                    <li><a href="{% url 'detail_poule' poule_id=5 %}"> Poule 1</a> </li>
                    <li><a href="{% url 'detail_poule' poule_id=6 %}"> Poule 2</a> </li> -->

                  <li><a href="{% url 'tournoi' tournoi_id=4 %}">Last but not Least </a></li>
                  <!-- <ul class="sous-sous-menu">
                    <li><a href="{% url 'detail_poule' poule_id=7 %}"> Poule 1</a> </li>
                    <li><a href="{% url 'detail_poule' poule_id=8 %}"> Poule 2</a> </li>
                </ul> -->
              </li>
            {% if user.is_authenticated %} <!-- Si l'utilisateur est connecté -->
            <ul>
                <li class="login"><a href="{% url 'logout' %}">Déconnexion</a></li></ul> <!-- Lien de déconnexion -->
            {% else %} <!-- Sinon -->
                <ul>
                <li class="login"><a href="{% url 'login' %}">Connexion</a></li> <!-- Lien de connexion -->
            </ul>
            {% endif %}
              
          </nav>


        
        <!-- <nav>
            <ul>
                <li><a href="{% url 'tournois' %}" padding="5px">Accueil</a></li>
                


                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" style="margin-top:25px;">Déconnexion</a>
                {% else %}
                <a href="{% url 'login' %}" style="margin-top: 25px;">Connexion</a>
                {% endif %}
            </ul>
        </nav> -->
    </header>
    <div class="container">
        <div class="row pb-3">
            <header>
                <!-- En-tête avec le titre et le logo cliquable renvoyant vers la page d'accueil -->
                Tournois de foot<br>
                <a href="{% url 'tournois' %}">
                    <img src="{% static 'images/football.jpg' %}" width=250px alt="logo" />
                </a>
            </header>
        </div>

        <style>
            /* Style CSS pour le fond d'écran */
            body {
                background-image: url("{% static 'images/champions league.jpg' %}");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
        </style>

        {% block content %}{% endblock %}

        <div class="row pt-5">
            <footer>
                <em>&copy; ISAE-SUPAERO</em>
            </footer>
        </div>
    </div>
</body>

</html>